
<div class="form-check">
    <input 
        x-model="form.{{name}}"
        type="radio" 
        name="{{name}}" 
        :value="'{{value}}'"
        class="form-check-input" 
>
    <label class="form-check-label" for="{{name}}">
        {{label}}
    </label>
</div>
