@layout.cms.app({ title: "Categories" })

    @!datatable({
        records: records.data,
        paginations: paginations,
        path: '/websites/categories/add/',
        isModal: true,
        canAdd: 'websites-categories-add',
        canEdit: 'websites-categories-edit',
        canDelete: 'websites-categories-delete',
    })

@end