@layout.cms.app({ title: "Categories" })

    @!datatable({
        module: "categories",
        records: records.data,
        paginations: paginations,
        path: '/cms/websites/categories/add/',
        isModal: true,
        canAdd: 'websites-categories-add',
        canEdit: 'websites-categories-edit',
        canDelete: 'websites-categories-delete',
        canView: 'websites-subcategories-view'
    })

@end