@layout.cms.app({ title: "Sub Categories" })

    @!datatable({
        records: records.data,
        paginations: paginations,
        path: '/websites/categories/subcategories/add/form/',
        isModal: true,
        canAdd: 'websites-subcategories-add',
        canEdit: 'websites-subcategories-edit',
        canDelete: 'websites-subcategories-delete',
    })

@end