@layout.cms.app({ title: "Pages" })

    @!datatable({
        records: records.data,
        paginations: paginations,
        path: '/websites/pages/add/',
        isModal: false,
        canAdd: 'pages-add',
		canEdit: 'pages-edit',
		canDelete: 'pages-delete',
    })

@end