@layout.cms.app({ title: "Products" })

	@!datatable({
		module: 'products',
		records: records.data,
		paginations: paginations,
		path: '/websites/products/add/',
		isModal: false,
		canAdd: 'websites-products-add',
		canEdit: 'websites-products-edit',
		canDelete: 'websites-products-delete',
	})

 
@end