@layout.cms.app({ title: "Users" })

	@!datatable({
		module: "users",
		records: records.data,
		paginations: paginations,
		path: '/cms/admin/users/add/',
		sortColumn: 'firstname',
		isModal: false,
		canAdd: 'admin-users-add',
		canEdit: 'admin-users-edit',
		canDelete: 'admin-users-delete',
	})

 
@end